

@import url(sections/header.css);
@import url(sections/hero.css);


:root {
  
    --black-200: #020202;
    --black-300: #333333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body {
    background-color: #242424;
}